@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// 2. Set your brand cloros
// Update blue
$dark-blue: #211f1e;
$dark-blue-invert: findColorInvert($dark-blue);
$light-blue: hsl(204, 63.1%, 79.8%);
$light-blue-invert: findColorInvert($light-blue);
$med-blue: #7c94ac;
$med-blue-invert: findColorInvert($med-blue);
$tan: #A48D65;
$tan-invert: findColorInvert($tan);
$deep-blue: #6bb4cc;
$deep-blue-invert: findColorInvert($deep-blue);
$pale-orange: #ef9622;
$pale-orange-invert: findColorInvert($pale-orange);
$pale-green: hsl(89, 53.0%, 51.6%);
$pale-green-invert: findColorInvert($pale-green);
$pale-yellow: #ece711;
$pale-yellow-invert: findColorInvert($pale-yellow);

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$light: $light-blue;
$light-invert: $light-blue-invert;
$dark: $dark-blue;
$dark-invert: $dark-blue-invert;
$primary: $deep-blue;
$primary-invert: $deep-blue-invert;
$link: $med-blue;
$info: $med-blue;
$success: $pale-green;
$warning: $pale-yellow;
$danger: $pale-orange;


// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter": (
    $twitter,
    $twitter-invert,
  ),
  "linkedin": (
    $linkedin,
    $linkedin-invert,
  ),
  "github": (
    $github,
    $github-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../../../node_modules/bulma/bulma.sass";


$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}